html,body {
    margin: 0;
    display: flex;
    flex-flow: column;
    background-image: 
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('https://mir-s3-cdn-cf.behance.net/projects/max_808/65dfc6101821053.Y3JvcCwxNjAwLDEyNTEsMCwyMw.png');
    background-size: 100vw 100vh;
    height: 100vh;
    /* width: 100vw; */
    /* border: 2px solid white; */
}

#top {
    width: 100%;
    height: 59%;
    /* background-color: purple; */
    display: flex;
    gap: 25%;
}

#currentWeatherContainer{
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: flex-start;
    height: 65%;
    width: 60%;
    /* border: 5px solid black; */
    gap: 20px;
}

#description,
#location,
#date,
#currentTemp{
    /* background-color: blue; */
    width: 100%;
    color: #F5F5F5;
}

#description {
    font-size: 4rem;
}

#location {
    font-size: 2rem;
    /* background-color: lightblue; */
}

#date {
    font-size: 2rem;
    /* background-color:skyblue; */
}

#currentTemp{
    font-size: 5.5rem;
    font-weight: bold;
    /* background-color: royalblue; */
}

#tempUnit {
    font-weight: bold;
    height: 20px;
    width: 200px;
}
#citySearch{
    font-size: 1.5rem;
    color: #F5F5F5;
}

#locationOutputContainer{
    display: none;
    /* border: 2px solid black; */
}

#locationOutputContainer.show {
    display:grid;
}

.city {
    height: 50px;
    width: 100%;
    font-size: 1.7rem;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    color: rgb(22, 22, 22);
    background-color: #d6d6d6;
    border: none;
    border-radius: 15px;
}
.city:hover {
    background-color: #777777;
}

#miscInfoContainer{
    display: flex;
    flex-flow: column;
    align-items: right;
    justify-content: flex-start;
    height: 65%;
    width: 35%;
    /* border: 5px solid green; */
}

.miscInfo{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, auto);
    height: 115px;
    width: 100%;
    /* border: 5px solid #F5F5F5; */
}

.icon {
    /* border: 2px solid blue; */
    grid-column: 1;
    grid-row: 1/3;
    color: #F5F5F5;
    align-items: center;
    justify-self: right;
    font-size: 3rem;
    line-height: 5.5rem;
}

.miscLabel {
    /* border: 2px solid yellow; */
    grid-column: 2/4;
    color: #F5F5F5;
    font-size: 1.5rem;
    text-align: center;
}

.miscData {
    /* border: 2px solid green; */
    grid-column: 2/4;
    color: #F5F5F5;
    font-size: 3rem;
    text-align: center;
}

#bottomContainer{
    display: flex;
    flex-flow: column;    
    height: 40%;
    width: 100%;
    /* border: 3px solid red; */
    align-self: flex-end; 
}

#tabsContainer {
    /* background-color: gold; */
    height: 25%;
    width: 100%;
    display: flex;
    gap: 10px;    
}

.tab {
    border: 2px solid #F5F5F5;
    height: 50px;
    width: 100px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #F5F5F5;
}

.tab:hover {
    background-color: #F5F5F5;
}
.forecastContainer{
    display: none;
    /* background-color: darkblue; */
    width: 100%;
    height: 75%;
    overflow-y: auto;
    overflow-x: scroll;
}

.section{
    width: calc(100%/7);
    height: 100%;
    border-right: 1px solid turquoise;
    display: flex;
    flex-flow: column;
}
.section:last-child{
    border: none;
}

.forecastDay{
    /* border: 2px solid blue; */
    height: 20%;
    width: 100%;
    font-size: calc(20vw/7);
    text-align: center;
    color: #F5F5F5;
    overflow: hidden;
}

.forecastTemp{
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 25%;
    width: 100%;
    font-size: calc(40vw/7);
    color: #F5F5F5;
    overflow:hidden;
    justify-content: center;

}

.forecastTempLow{
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: calc(20vw/7);
    overflow: hidden;
    color: #F5F5F5;
    justify-content: center;
}

.forecastIcon{
    /* border: 2px solid blue; */
    height: auto;
    width: 100%;
    color: #F5F5F5;
}

.forecastRainChance {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: calc(35vw/7);
    overflow: hidden;
    color: #F5F5F5;
    justify-content: center;
}

.show {
    display: flex;
}

.unit {
    font-size: calc(20vw/7);
    line-height: 3rem;
}